<button {{on "click" this.incrementIncrementAmount}}>Rate</button><small>{{this.increment.incrementAmount}}</small>
<button {{on "click" this.startClicker}}>Clicker</button> <small>{{this.multiplier}}/s</small>